:root {
  --light-purple: #9799ce;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: white;
  height: 400px;
  width: 400px;
  border: none;
  border-radius: 10px;
}

.bg-light-purple {
  background-color: var(--light-purple);
}

.btn {
  margin-top: 50px;
}

.btn-icon {
  font-size: 3em;
}
